@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Bebas+Neue&family=Oswald:wght@400;500;600;700&family=Gabarito:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Gabarito', 'Inter', sans-serif;
  background-color: #05000d;
  background-image: url('/assets/fondo-blackdays.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
}

.font-gabarito {
  font-family: 'Gabarito', 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
}
